img {
	width: 900px;
	border-radius: 15px;
	height: 350px;
	object-fit: cover;
}

.descriptionBlock {
	padding-top: 10px;
}
.descriptionBlock img {
	width: 200px;
	height: 200px;
	/* object-fit: contain; */
	
}